@import "components/buttons";
@import "components/forms";
@import "components/links";
@import "components/panels";

@import "includes/header";
@import "includes/footer";
@import "includes/page-content";

@import "pages/homepage";
@import "pages/calendar";
@import "pages/contestants";
@import "pages/information";
@import "pages/results";
@import "pages/personalResults";



/* -------------------------------------------------------------------------- */
/* ---------- Pages generalities -------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* ===========================
   Titillium Web - Normal
   =========================== */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf") format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf") format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf") format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf") format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf") format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  font-style: italic;
  font-weight: 200;
  src: url("/assets/fonts/Titillium_Web/TitilliumWeb-ExtraLightItalic.ttf") format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  font-style: italic;
  font-weight: 300;
  src: url("/assets/fonts/Titillium_Web/TitilliumWeb-LightItalic.ttf") format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/Titillium_Web/TitilliumWeb-Italic.ttf") format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  font-style: italic;
  font-weight: 600;
  src: url("/assets/fonts/Titillium_Web/TitilliumWeb-SemiBoldItalic.ttf") format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/Titillium_Web/TitilliumWeb-BoldItalic.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Italianno";
  src: url("/assets/fonts/Italianno/Italianno-Regular.ttf") format('truetype');
}


html, body {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;

	display: flex;
	flex-direction: column;

  color: var(--third-color);
	font-family: "Titillium web", sans-serif;
}

*.special-font {
  font-family: "Italianno", cursive;
}

