@import "components/buttons";
@import "components/forms";
@import "components/links";
@import "components/panels";

@import "includes/header";
@import "includes/footer";
@import "includes/page-content";

@import "pages/homepage";
@import "pages/calendar";
@import "pages/contestants";
@import "pages/information";
@import "pages/results";
@import "pages/personalResults";



/* -------------------------------------------------------------------------- */
/* ---------- Pages generalities -------------------------------------------- */
/* -------------------------------------------------------------------------- */

@font-face {
    font-family: "spartacus";
    src: url("/assets/fonts/spartacus/Spartacus-KVdLp.ttf") format('truetype');
}
@font-face {
    font-family: "Cinzel";
    src: url("/assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf") format('truetype');
}


html, body {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;

	display: flex;
	flex-direction: column;

    color: var(--third-color);
	font-family: "Cinzel", sans-serif;
}

*.special-font {
  font-family: "spartacus", sans-serif;
}

