/* -------------------------------------------------------------------------- */
/* ---------- Form ---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */


.form-fieldset {
	border: none;
	margin: 0;
	padding: 0;

	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.form-fieldset.form-horizontal-section {
	width: 100%;
	
	flex-direction: row;
}

.form-fieldset-legend {
	padding-bottom: 32px;
	width: 100%;

	font-size: 32px;
	text-align: center;
}
.form-fieldset-legend.small-legend {
	padding: 16px 0;
	font-size: 1.5rem;
}

.form-label {
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 8px;

	font-size: 16px;
	line-height: 1.5rem;
}

.form-label.hidden {
	display: none;
}

.form-label.row {
  flex-direction: row;
}

.form-label-bold {
  font-weight: bold;
}

.form-label-hint {
	width: 100%;

	color: var(--first-color);
	font-size: 12px;
	line-height: 1.25rem;
	text-align: justify;
}

.form-label-hint.important {
	color: var(--alert-color);
	font-size: 16px;
}

.form-label-error {
	display: none;

	color: var(--alert-color);
	font-size: 16px;
}
.form-label-error.visible {
	display: inline;
}


.form-input-text {
	border: none;
	border-bottom: 2px solid var(--first-color);
	border-radius: 8px 8px 0 0;
	box-sizing: content-box;
	height: 24px;
	padding: 8px 16px;

	background-color: var(--fourth-color);
}

.form-input-submit {
	box-sizing: content-box;
	height: 30px;

	align-self: stretch;
}

.form-input-checkbox {
  transform: scale(1.5);
}
