/* -------------------------------------------------------------------------- */
/* ---------- Panel generalities -------------------------------------------- */
/* -------------------------------------------------------------------------- */


.panel-close-button {
  box-shadow: 0 0 20px 20px #ffffffcc;

	position: absolute;
	right: 8px;
	top: 8px;
}

.panel-wrapper {
	height: 100vh;
	width: 100vw;

	background-color: var(--panel-hover-color);

	align-items: center;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 200;

	visibility: inherit;
}
.panel-wrapper.invisible {
	visibility: hidden;
}

.panel {
  border-radius: 8px;
	max-height: 75%;
	overflow: auto;
	padding: 80px;
	width: 520px;

	background-color: var(--default-background-color);

	display: flex;
	flex-direction: column;
	gap: 32px;
	position: relative;
}

.panel.large-panel {
	min-width: 480px;
	width: 80%;
}

.panel .button {
	align-self: stretch;
}

.panel::before {
  height: 100%;
  width: 100%;

  content: "";
  background-image: url('/assets/images/background-1.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;

  left: 0;
  position: absolute;
  top: -64px;
  z-index: 0;
}

.panel::after {
  box-shadow: 0 0 24px 24px #ffffffcc;

  background-color: #ffffffcc;
  content: "";

  bottom: 80px;
  left: 80px;
  position: absolute;
  right: 80px;
  top: 80px;
}

.panel > * {
    z-index: 1;
}




/* -------------------------------------------------------------------------- */
/* ---------- Authentification panel ---------------------------------------- */
/* -------------------------------------------------------------------------- */


.panel-wrapper .form-label-submit {
	padding-top: 40px;
}




/* -------------------------------------------------------------------------- */
/* ---------- Error panel --------------------------------------------------- */
/* -------------------------------------------------------------------------- */


.error-panel-wrapper {
	bottom: 24px;
	display: flex;
	flex-direction: column-reverse;
	gap: 24px;
	position: fixed;
	right: 24px;
	z-index: 300;
}

.error-panel {
	border-left: 32px solid var(--alert-color);
	border-radius: 8px;
	box-shadow: 0 0 5px;
	box-sizing: border-box;
	padding: 16px;
	width: 440px;

	background-color: var(--default-background-color);

	display: flex;
	flex-direction: column;
	gap: 16px;
	position: relative;
}
.error-panel.discard {
	display: none;
}

.error-panel-title {
	margin: 0;
	margin-bottom: 16px;

	color: var(--alert-color);
	font-size: 24px;
	line-height: 30px;
}

.error-panel-message {
	margin: 0;
}

.error-panel-close-button::after {
	filter: var(--filter-alert-color) !important;
}

