/* -------------------------------------------------------------------------- */
/* ---------- Calendar page ------------------------------------------------- */
/* -------------------------------------------------------------------------- */


.calendar-filter-form {
	padding: 16px;

	background-color: var(--fourth-color);

	align-items: center;
	display: flex;
	gap: 32px;
	justify-content: space-between;
}

.fieldset-event-filters {
	flex-direction: row;
	flex-wrap: wrap;
	gap: 32px;
}

.legend-event-filters {
	padding-bottom: 24px;

	font-size: 24px;
	font-weight: 700;
}

.calendar-filter-label {
	cursor: pointer;
}

.calendar-filter-validate {
	align-self: flex-end;
}

a.fc-event:hover {
	cursor: pointer;
}

.event-panel-title {
	margin: 0;

	font-size: 32px;
	text-transform: capitalize;
}

.event-panel-details-section {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.event-panel-details-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.event-panel-details-value {
	display: flex;
	gap: 16px;
}

.event-panel-text {
	margin: 0;

	font-size: 16px;
}

.event-map {
	height: 200px;

	flex-shrink: 0;
}

.event-panel-registration {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.event-panel-registration-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.event-panel-registration-fieldset {
	gap: 8px;
}

.unregister-user {
	display: none;
}
.registered-user > .register-user {
	display: none;
}
.registered-user > .unregister-user {
	display: flex;
}
.unregister-referee {
	display: none;
}
.registered-referee > .register-referee {
	display: none;
}
.registered-referee > .unregister-referee {
	display: flex;
}
.cannot-register-label {
	display: none;

	text-align: center;
}
.cannot-register .cannot-register-label {
	display: inline;
}
.cannot-register .event-register-button:not(.team-register-button) {
	display: none;
}


.register-referee {
	display: none;
}
.form-register-referee > .register-referee {
	display: flex;
}
.form-register-referee > :not(.register-referee) {
	display: none;
}
.form-register-referee ~ .button-register-referee {
	display: none;
}
.cannot-register-referee-label {
	display: none;

	text-align: center;
}
.cannot-register-referee ~ .cannot-register-referee-label {
	display: inline;
}
.cannot-register-referee ~ .button-register-referee {
	display: none;
}
.registered-referee-label {
	display: none;

	text-align: center;
}
.registered-referee ~ .registered-referee-label {
	display: inline;
}
.registered-referee ~ .button-register-referee {
	display: none;
}


.remove-event {
	display: none;
}
.form-remove-event > .remove-event {
	display: flex;
}
.form-remove-event > :not(.remove-event) {
	display: none;
}
.form-remove-event ~ .button-remove-event {
	display: none;
}


.fc-button {
  border-color: var(--fifth-color) !important;
  background-color: var(--fifth-color) !important;
}
.fc-button:active {
  background-color: var(--fourth-color) !important;
}
.fc-button-active {
  border-color: var(--fifth-color) !important;
  background-color: var(--fourth-color) !important;
  color: var(--fifth-color) !important;
}
.fc-button-active:focus,
.fc-button-primary:focus{
  box-shadow: unset !important;
}
