/* -------------------------------------------------------------------------- */
/* ---------- Contestants page ---------------------------------------------- */
/* -------------------------------------------------------------------------- */


.team-cards-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: space-evenly;
}

.team-card {
	border: 1px solid var(--first-color);
	border-radius: 8px;
	box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);

	align-items: stretch;
	display: flex;
	flex: 1 0 480px;
	flex-direction: column;
  position: relative;
  overflow: hidden;
}

.team-card::before {
  width: 100%;
  height: 100%;

  content: "";
  background-image: url('/assets/images/background-2.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;

  left: 0;
  position: absolute;
  bottom: -64px;
  z-index: 0;
}

.team-card::after {
  box-shadow: 0 0 24px 24px #ffffffcc;

  background-color: #ffffffcc;
  content: "";

  bottom: 32px;
  left: 32px;
  position: absolute;
  right: 32px;
  top: 112px;
}

.team-card > * {
  z-index: 1;
}


.team-card-title {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	margin: 0;
	height: 80px;

	background-color: var(--first-color);

	align-items: center;
	display: flex;
	justify-content: center;

	color: var(--second-color);
	font-size: 32px;
	font-weight: 400;
	text-align: center;
	text-transform: capitalize;
}

.team-card:nth-child(3n+2) {
  border-color: var(--fourth-color);
}
.team-card:nth-child(3n+2) .team-card-title {
	background-color: var(--fourth-color);

  color: var(--third-color);
}
.team-card:nth-child(3n+3) {
  border-color: var(--fifth-color);
}
.team-card:nth-child(3n+3) .team-card-title {
	background-color: var(--fifth-color);
}

.team-card-section {
	padding: 32px;
}

.team-card-section-title {
	margin: 0;
	margin-bottom: 24px;

	font-size: 20px;
	text-align: center;
}

.contestants-page-members-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;

	font-size: 16px;
}
.contestants-page-members-wrapper.in-card {
	justify-content: center;
}

.contestants-page-member {
	border-radius: 8px;
	box-shadow: 2px 4px 2px 0px rgba(0, 0, 0, 0.25);
	margin: 0;
	padding: 8px 16px;

	background-color: var(--fourth-color);

	text-transform: capitalize;
	white-space: normal;
}
.contestants-page-member::first-letter {
	text-transform: uppercase;
}

.contestants-page-member-name {
	text-transform: uppercase;
}

