/* -------------------------------------------------------------------------- */
/* ---------- Homepage ------------------------------------------------------ */
/* -------------------------------------------------------------------------- */


.home-page-banner {
	align-items: center;
	display: flex;
  flex-direction: column;
  flex-grow: 1;
	gap: 104px;
	justify-content: center;
	position: relative;
}

.home-page-background-image {
	height: 100%;
	width: 100%;

	background-image: url('/assets/images/banner.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	left: 0;
	position: absolute;
	top: 0;
	z-index: 5;
}

.home-page-blur-filter {
	height: 100%;
	width: 100%;

	background-color: black;
	opacity: 0.2;

	left: 0;
	position: absolute;
	top: 0;
	z-index: 6;
}

.home-page-title-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;

  z-index: 10;
}

.home-page-title {
	margin: 0;

	color: var(--second-color);
	font-size: 80px;
	text-align: center;
	text-shadow: 0 0 24px var(--first-color);
}

.home-page-subtitle {
  margin: 0;

  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;

  color: var(--second-color);
  font-size: 32px;
}

.home-page-subtitle-image {
  height: 80px;
  width: 80px;

  filter: drop-shadow(0 0 5px #ffffffcc);

  display: block;
}

.home-page-call-to-action {
	display: flex;
	flex-direction: column;
	gap: 40px;
	z-index: 10;
}

