/* -------------------------------------------------------------------------- */
/* ---------- Results page -------------------------------------------------- */
/* -------------------------------------------------------------------------- */


.personal-results-page-section-image {
  height: 300px;
  background-image: url('/assets/images/hand.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

