/* -------------------------------------------------------------------------- */
/* ---------- Results page -------------------------------------------------- */
/* -------------------------------------------------------------------------- */


.results-page-section-image {
  height: 300px;
  background-image: url('/assets/images/waiting-results.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

