/* -------------------------------------------------------------------------- */
/* ---------- Results page -------------------------------------------------- */
/* -------------------------------------------------------------------------- */


.results-page-section-title {
	gap: 16px;
}
.results-page-section-title::before {
	height: 30px;
	width: 30px;

	content: "";
	background-image: url('/assets/icons/hourglass-split.svg');
	background-size: 30px 30px;

	display: flex;

}

