/* -------------------------------------------------------------------------- */
/* ---------- Pages content ------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.page-content-wrapper {
	margin-top: var(--header-height);

	background-color: var(--second-color);

	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.page-banner {
	box-shadow: inset 0 -4px 5px rgba(0, 0, 0, 0.1);
	padding: 40px var(--horizontal-padding-desktop);

	background-color: var(--fourth-color);

	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 32px;
	justify-content: center;
}

.page-banner.has-tabs-bar {
	padding-bottom: 0;
}

.page-title {
	border-radius: 8px;
	margin: 0;
	padding: 16px 24px;

	background-color: var(--fifth-color);

	align-items: center;
	display: flex;
	justify-content: center;

	color: var(--second-color);
	font-size: 40px;
	font-weight: 700;
}

.page-description {
	margin: 0;

	font-size: 20px;
}

.page-section {
	padding: 40px var(--horizontal-padding-desktop);

	background-color: var(--default-background-color);

	display: flex;
	flex-direction: column;
	gap: 60px;
}

.section:last-child {
	margin-bottom: 80px;
}

.page-section-title {
	margin: 0;

	font-size: 32px;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.no-data-available {
	align-items: center;
	display: flex;
	flex-grow: 1;
	justify-content: center;

	text-align: center;
}

.only-page-section {
	flex-grow: 1;
}

.page-section-list {
	margin: 0;

	font-size: 20px;
}

.page-tabs-bar {
	margin: 0;
	padding: 0;

	display: flex;
	gap: 8px;

	list-style: none;
}

.page-tab-button {
	border: 1px solid;
	border-color: var(--first-color);
	border-radius: 8px 8px 0 0;
	box-sizing: content-box;
	box-shadow: inset 0 -4px 5px rgba(0, 0, 0, 0.1);
	height: 30px;
	padding: 8px 16px;

	background: none;
	background-color: var(--first-color);

	align-items: center;
	display: flex;
	gap: 8px;
	justify-content: center;

	color: var(--contrasted-first-color);
	font-size: 18px;
	font-weight: 400;
}
.page-tab-button.active {
	border-color: var(--second-color);
	box-shadow: none;

	background-color: var(--second-color);

	color: var(--contrasted-second-color);
}
.page-tab-button:hover {
	cursor: pointer;
}

.page-tab:not(.visible) {
	display: none;
}
