:root {

	--white: #ffffff;
	--timberwolf: #e0ddd5;
	--delft-blue: #283d70;
	--carbon-black: #151A10;
	--lion: #c6934b;
	--turkey-red: #b20000;

	--forest-moss: #6b8e23;
	--ivory-mist: #faf3e0;
	--golden-chestnut: #c97a44;
	--olive-leaf: #556f1b;

	--white-filter:	invert(100%)
					        sepia(0%)
					        saturate(1%)
					        hue-rotate(225deg)
					        brightness(108%)
					        contrast(101%);

	--delft-blue-filter:	brightness(0)
							          saturate(100%)
							          invert(20%)
							          sepia(28%)
							          saturate(1450%)
							          hue-rotate(186deg)
							          brightness(98%)
							          contrast(92%);

	--turkey-red-filter:	brightness(0)
							          saturate(100%)
							          invert(10%)
							          sepia(84%)
							          saturate(5857%)
							          hue-rotate(359deg)
							          brightness(88%)
							          contrast(112%);

	--forest-moss-filter:	brightness(0)
							          saturate(100%)
							          invert(44%)
							          sepia(71%)
							          saturate(430%)
							          hue-rotate(38deg)
							          brightness(98%)
							          contrast(91%);

	--first-color: var(--forest-moss);
	--hover-first-color: var(--timberwolf);
	--contrasted-first-color: var(--white);
	--filter-first-color: var(--forest-moss-filter);
	--contrasted-filter-first-color: var(--white-filter);

	--second-color: var(--white);
	--hover-second-color: var(--olive-leaf);
	--contrasted-second-color: var(--forest-moss);
	--filter-second-color: var(--white-filter);
	--contrasted-filter-second-color: var(--filter-first-color);

	--third-color: var(--carbon-black);
	--fourth-color: var(--ivory-mist);
	--fifth-color: var(--golden-chestnut);

	--alert-color: var(--turkey-red);
	--filter-alert-color: var(--turkey-red-filter);

	--panel-hover-color: rgba(23, 23, 23, 0.64);
	--default-background-color: var(--white);


	--header-height: 72px;
	--footer-height: 56px;

	--horizontal-padding-desktop: 40px;

}

